
.menu {
  width: 10%;
  float: left;
}
.main {
  width: 75%;
  float: left;
}

.corner {
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: -1;
}
.nw {
    background: red;
    left: 0;
    top: 0;
}
.ne {
    background: green;
    right: 0;
    top: 0;
}
.sw {
    background: blue;
    left: 0;
    bottom: 0;
}
.se {
    background: black;
    right: 0;
    bottom: 0;
}

a {text-decoration: none;} /* 去掉a的默认下划线*/

body 
{
	position: relative;
/*  margin: 1%;*/
	margin-top:33px;
	margin-bottom:33px;
	margin-left:66px;
	margin-right:66px;

}

p  {
  	font-family: "Times New Roman", Times, serif;
	/*font-size: 16px;*/
	letter-spacing: 0px;
	word-spacing: 0px;
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
  	/*font-size: 160%;*/
}

hr { 
  color: black;
  display: block;
  margin-top: -1em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}